/**
 * Stylesheet for HAPI Brief
 *
 * Default style is for mobile; desktop overrides at end.
 */

body {
    font-family: Helvetica, Ariel, sanserif;
    margin: 1rem;
}

.jump-links {
    font-size: 83.33333%;
    color: #aaaaaa;
}

.icon {
    height: 1em;
}

.download-link {
    display: block;
    float: right;
    font-size: 83.333333%;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

form.selector label {
    display: inline-box;
    margin-left: 1rem;
}

.location-list p {
    margin: 0 0 1rem 0;
}


/**
 * Geo sidebars.
 * (will be overridden later for larger screens)
 */

aside .content {
    columns: 2;
    column-gap: 2em;
    column-width: 20em;
}



/**
 * Breadcrumb navigation
 */

.breadcrumbs {
    font-size: 83.33333%;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a::after {
    content: " > ";
}


/**
 * Data tables.
 */

table.data {
    border-collapse: collapse;
    font-size: 83.33333%;
}

table.data thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table.data th, table.data td {
    padding: 1rem;
}

table.data td {
    border-left: 1px #aaaaaa solid;
}

table.data td:first-child {
    border-left: none;
}

table.data tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.data tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.data tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


/**
 * Main infoboxes
 */

.infoboxes {
    display: flex;
    flex-wrap: wrap;
}

.infobox {
    position: relative;
    width: 15rem;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 1rem;
    background: #ccccff;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.key-figure .label {
    display: block;
    font-weight: bold;
    font-style: italic;
    color: #000044;
    font-size: 83.33333%;
    margin-bottom: .5rem;
}

.key-figure .figure {
    font-size: 144%;
    margin-bottom: .5rem;
}

.key-figure .date {
    display: inline-block;
    font-size: 83.33333%;
    float: right;
}

.supplemental-figures {
    font-size: 83.33333%;
    margin-left: 1rem;
    width: 100%;
}

.sources {
    font-size: 57.870370%;
    display: inline-block;
    max-width: 66.66666%;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.columns {
    margin-top: 2rem;
    columns: 5;
    column-gap: 2em;
    column-width: 20em;
}

.data-link {
    font-size: 57.870370%;
    position:absolute;
    right: 1rem;
    bottom: 1rem;
}


/**
 * Progress message while loading
 */

#message {
    position: absolute;
    width: 100vw;
    top: 45vh;
    text-align: center;
    font-size: 144%;
}


/**
 * Overrides for larger screens
 */

@media (min-width: 1200px) {

    .with-sidebar header {
        height: 7rem;
    }

    .with-sidebar main {
        width: 80vw;
    }

    .with-sidebar header .jump-links {
        display: none;
    }

    aside {
        position: absolute;
        width: 19vw;
        right: 1vw;
        top: 8rem;
        padding: 1ex;
    }

    aside .content {
        columns: 1;
        margin-left: 1rem;
    }

    aside h2 {
        font-size: 100%;
    }

}
