/**
 * Stylesheet for HAPI Brief
 *
 * Default style is for mobile; desktop overrides at end.
 */

body {
    font-family: Gotham, sans-serif;
    margin: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    line-height: 2rem;
    padding-left: 1rem;
    margin-left: -1rem;
}

main h2 {
    background-color: #EDF6FD;
    border-bottom: 1px solid #CCC;
    margin-bottom: 0;
}

.jump-links {
    font-size: 83.33333%;
    color: #aaaaaa;
}

.icon {
    height: .75em;
}

.download-link {
    display: block;
    float: right;
    font-size: 83.333333%;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

form.selector label {
    display: inline-box;
    margin-left: 1rem;
}

.location-list p {
    margin: 0 0 1rem 0;
}


/**
 * Geo sidebars.
 * (will be overridden later for larger screens)
 */

aside .content {
    columns: 2;
    column-gap: 2em;
    column-width: 20em;
}



/**
 * Breadcrumb navigation
 */

.breadcrumbs {
    font-size: 83.33333%;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a::after {
    content: " > ";
}


/**
 * Data tables.
 */

table.data {
    border-collapse: collapse;
    font-size: 83.33333%;
}

table.data thead tr {
    background-color: #EDF6FD;
    text-align: left;
}

table.data th, table.data td {
    padding: 1rem;
}

table.data td {
    border-left: 1px #aaaaaa solid;
}

table.data td:first-child {
    border-left: none;
}

table.data tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.data tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.data tbody tr:last-of-type {
    border-bottom: 2px solid #5b92e5;
}


/**
 * Main infoboxes
 */

.infoboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.infobox {
    position: relative;
    width: 15rem;
    padding: 1rem 0 5rem 0;
    margin: 0 1rem 1rem 0;
    border-bottom: 1px solid #CCC;
}

.key-figure {
    margin-bottom: .5rem;
}

.key-figure .label {
    position: relative;
    width: 100%;
    display: block;
    font-family: 'Gotham-Bold', sans-serif;
    font-weight: bold;
    margin-bottom: .5rem;
    height: 3rem;
    vertical-align: middle;
}

.key-figure .label .inner {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.key-figure .figure {
    font-size: 172.8%;
    line-height: 2rem;
}

.supplemental-figures {
    font-size: 83.33333%;
    margin-left: 1rem;
    width: 100%;
}

.metadata {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    height: 3rem;
    margin-top: 1rem;
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 83.333333%;
    line-height: 1.2rem;
}

.data-link {
    text-transform: uppercase;
    text-decoration: none;
}

.columns {
    margin-top: 2rem;
    columns: 5;
    column-gap: 2em;
    column-width: 20em;
}


/**
 * Progress message while loading
 */

#message {
    position: absolute;
    width: 100vw;
    top: 45vh;
    text-align: center;
    font-size: 144%;
}


/**
 * Overrides for larger screens
 */

@media (min-width: 1200px) {

    .with-sidebar header, .with-sidebar main {
        width: 75vw;
    }

    .with-sidebar header .jump-links {
        display: none;
    }

    aside {
        position: absolute;
        width: 19vw;
        right: 1vw;
        top: 1rem;
        padding: 1ex;
    }

    aside .content {
        columns: 1;
        margin-left: 1rem;
    }

}
